<%= form_with(model: model, local: true, class: 'form') do |form| %>
  <% if list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
        <% list.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form__input">
    <%= form.label :name, class: 'form__label' %>
    <%= form.text_field :name, placeholder: 'Unicorn Tokens', class: 'form__field' %>
  </div>

  <%= form.submit nil, class: 'form__submit-button button' %>
<% end %>
