<div class="list-page">
  <nav class="list-page__back-link">
    <%= link_to 'Back to lists', space_path(@list.space) %>
  </nav>
  <header class="list-page__header">
    <h1 class="list-page__title"><%= @list.name %></h1>
    <p class="list-page__token-count">
      <%= @list.tokens.size %> <%= 'token'.pluralize @list.tokens.size %>
    </p>
    <div class="list-page__edit-name-pill">
      <div class="pill-actions">
        <%= link_to 'Edit name', edit_list_path(@list), class: 'pill-actions__item' %>
      </div>
    </div>
    <% if @list.stylesheet.attached? %>
      <p>Download CSS: <%= link_to nil, css_list_url(@list) %></p>
    <% end %>
    <% if @list.stylesheet.attached? %>
      <p>Example: <%= link_to nil, example_list_url(@list) %></p>
    <% end %>
  </header>

  <div class="list-page__add-token-section">
    <h2 class="list-page__add-token-section-title">Create a new token</h2>
    <div class="list-page__add-token-form">
      <%= render 'tokens/form', model: [@list, @token], token: @token %>
    </div>
  </div>

  <div class="list-page__tokens-section">
    <% @groupedTokens.each do |categoryName, tokens| %>
      <div class="list-page__token-category">
        <h2 class="list-page__token-category-title <%= 'list-page__token-category-title_empty' if tokens.empty? %>">
          <%= categoryName %>
        </h2>
        <p class="list-page__token-category-count <%= 'list-page__token-category-count_empty' if tokens.empty? %>">
          <%= tokens.size %> <%= 'token'.pluralize tokens.size %>
        </p>
        <div class="list-page__token-category-grid">
          <% tokens.each do |token| %>
            <div class="card">
              <%= render token %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="list-page__add-category-section">
    <h2 class="list-page__add-category-section-title">New category</h2>
    <div class="list-page__add-category-form">
      <%= render 'categories/form', model: [@list.space, @category], category: @category, list: @list %>
    </div>
  </div>
</div>
