<div class="list-page">
  <nav class="list-page__back-link">
    <%= link_to 'Back to lists', space_path(@list.space) %>
  </nav>
  <header class="list-page__header">
    <h1 class="list-page__title"><%= @list.name %></h1>
    <p class="list-page__token-count">
      <%= @list.tokens.size %> <%= 'token'.pluralize @list.tokens.size %>
    </p>
    <% if @list.description %>
      <p class="list-page__description"><%= @list.description %></p>
    <% end %>
    <div class="list-page__edit-name-pill">
      <div class="pill-actions">
        <%= link_to 'Edit list', edit_list_path(@list), class: 'pill-actions__item' %>
      </div>
    </div>
    <% if @list.stylesheet.attached? %>
      <p>Download CSS: <%= link_to nil, css_list_url(@list) %></p>
    <% end %>
    <% if @list.stylesheet.attached? %>
      <p>Example: <%= link_to nil, example_list_url(@list) %></p>
    <% end %>
  </header>

  <div class="list-page__add-token-section">
    <h2 class="list-page__add-token-section-title">Create a new token</h2>
    <div class="list-page__add-token-form">
      <%= render 'tokens/form', model: [@list, @list.tokens.new], list: @list, form_url: list_tokens_path(@list) %>
    </div>
  </div>

  <div class="list-page__tokens-section">
    <% @tokensByCategory.each do |obj| %>
      <div class="list-page__token-category">
        <h2 class="list-page__token-category-title <%= 'list-page__token-category-title_empty' if obj['tokens'].empty? %>">
          <%= obj['category'].nil? ? 'No Category' : obj['category']['name'] %>
        </h2>
        <p class="list-page__token-category-count <%= 'list-page__token-category-count_empty' if obj['tokens'].empty? %>">
          <%= obj['tokens'].size %> <%= 'token'.pluralize obj['tokens'].size %>
        </p>
        <% if !obj['category'].nil? %>
          <div class="list-page__token-category-actions pill-actions">
            <%= link_to 'Edit', edit_category_path(obj['category'], list_id: @list.id), class: 'pill-actions__item' %>
            <%= link_to 'Delete', category_path(obj['category'], list_id: @list.id),
                        method: :delete, class: 'pill-actions__item' %>
          </div>
        <% end %>

        <div class="list-page__token-category-grid">
          <% obj['tokens'].each do |token| %>
            <div class="card">
              <%= render 'tokens/token', token: token %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="list-page__add-category-section">
    <h2 class="list-page__add-category-section-title">New category</h2>
    <div class="list-page__add-category-form">
      <%= render 'categories/form', model: [@space, @space.categories.new], category: @space.categories.new, list_id: @list.id %>
    </div>
  </div>
</div>
