<div class="home-page">
  <main class="home-page__container">
    <header class="home-page__header-container">

      <div class="home-page__header-art-container">
        <canvas class="home-page__header-art-canvas glslCanvas" data-fragment="<%= sanitize File.read('app/views/home/shader.frag') %>" width="1280" height="720"></canvas>
      </div>

      <div class="home-page__header-content-container">
        <div class="home-page__header-content-main">
          <%= render 'layouts/notice' %>
          <h1 class="home-page__title">Tokenhost <span class="home-page__title-number">3000</span></h1>
          <p class="home-page__subtitle">Edit and deliver design tokens <span class="home-page__subtitle-emphasis">in&nbsp;real&nbsp;time</span></p>
          <%= form_with model: @space, local: true, class: "home-page__create-space-form" do |form| %>
            <%= form.submit 'Try Demo', class: "button button_pill" %>
          <% end %>
          <a href="#case-study" class="home-page__case-study-anchor">Read the case study</a>
        </div>
      </div>

    </header>
    <div class="home-page__article-wrapper">
      <article id="case-study" class="home-page__article-content">
        <%= sanitize @markdown.render(File.read('app/views/home/_case_study.md')) %>
      </article>
    </div>
  </main>
</div>
