<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Token Park</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="application-layout">
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/notice' %>
    <div class="page-container">
      <%= yield %>
    </div>
  </body>
</html>
