<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Example</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta id="tokenhub-widget" data-space="<%= @list.space.slug %>" data-api="<%= Rails.configuration.token_api_url %>"></script>
    <%= stylesheet_link_tag 'example', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'example', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %> 
  </body>
</html>
